
/* body { font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #888; line-height: 30px; text-align: center; background-color: #; } */
body {  
	font-size: 15px; 
/* 	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  */
	font-family: 'Open Sans', sans-serif; 	
	font-weight: 400; 
	color: #888;
/* 	 text-align: center;  */
	background-color: #; 
	}

strong { font-weight: 700; }

/* a { color: #856dc0; border-bottom: 1px dashed #856dc0; text-decoration: none; transition: all .3s; } */
a { color: #4C96D7; border-bottom: 1px ; text-decoration: none; transition: all .3s; }
a:hover, a:focus { color: #856dc0; border: 0; text-decoration: none;   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);}

/* h1, h2 { margin-top: 10px; font-size: 38px; font-weight: 300; color: #555; line-height: 50px; font-style: italic; } */
/* h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 25px; font-style: italic; } */
/* h5 { font-size: 15px; font-weight: 300; color: #555; line-height: 18px; font-style: italic; } */

h1,h2,h3,h4,h5{text-align: center; text-transform: uppercase;}

img { max-width: 100%; }

.medium-paragraph { font-size: 17px; line-height: 32px; }

::-moz-selection { background: #7762ac; color: #fff; text-shadow: none; }
::selection { background: #7762ac; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 10px; }

.section-container-gray-bg { background: #f8f8f8; }

/*
.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 { color: #fff; }
*/

.section-container-image-bg .divider-1 span { border-color: #fff; }

.section-description { margin-top: 20px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.8; }

.section-bottom-button { padding-top: 60px; }

/*default Section header with gradient*/
.section-header {
	background: linear-gradient(rgb(0, 39, 79) 0%, rgb(0, 39, 79) 60%,
		rgb(27, 98, 162) 100%);

    overflow: hidden;
    width: 100%;
    float: left;

	moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.section-header .header-container{ 
     background: linear-gradient(rgb(0, 39, 79) 0%, rgb(0, 39, 79) 60%, rgb(27, 98, 162) 100%); */
/*      height: 40px;   */
    text-align: center;
} 


.section-header .gloss {
	height: 20px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%,
		rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.1) 100%);
		
}

.section-header .header {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    font-size: 30px; 
    font-weight: 600; 
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top:-23px;

}


/***** Divider *****/

.divider-1 span { display: inline-block; width: 200px; border-bottom: 1px dotted #aaa; }


/***** Main Navbar  *****/

.navbar {
	background: #444;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	backface-visibility: hidden;
	
}
.navbar.navbar-no-bg { background: #444; background: rgba(0, 0, 0, 0.5); }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; text-transform: uppercase; }
.navbar-dark .navbar-nav .nav-link { color: #4C96D7; color: rgba(182,219,251, 0.8); border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #fff; }
.navbar-dark .navbar-nav .nav-link:focus { color: #fff; outline: 0; }

.navbar-expand-lg .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }

.navbar-dark .navbar-nav .nav-link-inner {color: #444; color: rgba(0, 0, 0, 0.8); border: 0;}
.navbar-dark .navbar-nav .nav-link-inner { padding-left: 1rem; padding-right: 1rem; }
.navbar-dark .navbar-nav .nav-link-inner:hover { color: #444; }
.navbar-dark .navbar-nav .nav-link-inner:focus { color: #444; outline: 0;}
.navbar-expand-lg .navbar-nav .nav-link-inner { padding-left: 1rem; padding-right: 1rem; }

.navbar-brand {
	width: 200px;
	background: url(../img/logo.png) left center no-repeat;
	border: 0;
	text-indent: -99999px;
}


/***** Top content *****/

.inner-bg { padding: 200px 0; }

/* .top-content .text { color: #fff; }
.top-content .text h1 { margin-top: 25px; color: #fff; }
.top-content .description { margin: 30px 0 10px 0; }
.top-content .description p { opacity: 0.8; } */

.top-content{
	text-align: center;
}


/***** Section 1 *****/
.section-1 .description { margin-top: 5px; padding-bottom: 5px;}
.section-1 { margin-top: 10px; background-color: #D8D8D8; border-radius:10px; }



/***** Section 2 *****/
.section-2 { margin-top: 10px}


/***** Header style *****/
.header-content .description { margin-top: 5px; padding-bottom: 5px;}
.header-content { margin-top: 67px; margin-bottom: 10px; background-color: #D8D8D8; border-radius:10px; }



/***** Logo header *****/
.logo-header .description { margin-top: 5px; padding-bottom: 5px;}
/*.logo-header { margin-top: 75px; margin-bottom: 10px; background-color: #D8D8D8; border-radius:10px; }*/
.logo-header { margin-bottom: 10px; background-color: #D8D8D8; border-radius:10px; }

/***** Footer *****/

/* footer { padding: 40px 0; background-color: #D8D8D8; border-radius:10px;} */

/***** Other *****/
.center {
    margin: 0 auto;
    width: 80%;
}

.centred-content{ 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
	float: none;"
}


/***** iFrame embeds *****/
.iframe-container {
  padding-top: 0%;
}

.iframe-container iframe {
   width: 100vw;
   height: 100vh;
   relative;
}

/***** Bootstrap table overrides *****/

.table{
	line-height:25px;
	white-space:nowrap;
}

.table a { color: #09367c; font-weight: bold;}


.table tfoot th,
.table thead th{
    background-color:rgba(23, 145, 202, 1.0);
    color:#ffffff
}

.table td {
	font-size: 12px;
	margin: 0px;
    border-width:1px 1px 1px 1px;
	border-color:#ffffff;
}
.table th {
	font-size: 12px;
	margin: 0px;
    border-width:1px 1px 1px 1px;
	border-color:#ffffff;
}

.table-striped>tbody>tr:nth-child(even) {background-color:rgba(176, 214, 255, 1.0);}
.table-striped>tbody>tr:nth-child(odd) {background-color:rgba(225, 239, 255, 1.0);}

.table.fixed-column-striped,
.table.fixed-column {
    border-collapse: collapse;
    width: 100%;
}

.table.fixed-column td,
.table.fixed-column th,
.table.fixed-column-striped td,
.table.fixed-column-striped th {
    text-align: left;
    padding: 3px;
}

.table.fixed-column-striped th:first-child, td:first-child,
.table.fixed-column th:first-child, td:first-child
.table.fixed-column-striped th:first-child,
.table.fixed-column th:first-child,
{
  position:sticky;
  left:0px;
}

.table.fixed-column-striped tr:nth-child(even) td:first-child {
     background-color:rgba(176, 214, 255, 1.0);
}
.table.fixed-column-striped tr:nth-child(odd) td:first-child {
    background-color:rgba(225, 239, 255, 1.0);
}

.table.fixed-column-striped th a,
.table.fixed-column th a
{
  color:#ffffff;
}


